extends _layout

block content
	h1 Uh oh... 
		small= error.status + " " + message
	p.lead There was an error trying to load this administration page.
	pre #{error.stack}
	p Please contact <a href="mailto:hello@z43studio.com">z43 Studio</a> if you continue to run into this issue.